@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

#navbar {
  display: flex;
  align-items: center;
  position: relative;
  top: 0px;
}

#navbar::before {
  content: "";
  background-color: rgb(22, 120, 9);

  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* opacity: 0.7; */
}


/* Navigation Bar: Logo and Image */
#logo {
  margin: 10px 34px;
}

#logo img {
  height: 59px;
  margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul {
  display: flex;
  font-family: 'Baloo Bhai', cursive;

}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}

.container1 {

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bree Serif', serif;
}

.content {
  margin-top: 10px;
  padding: 33px;
  border-radius: 19px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.content strong {
  font-size: 37px;
  text-decoration: underline;
}

.content p {
  font-size: 20px;
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bree Serif', serif;
}


#list {
  margin-top: 10px;
  padding: 60px;
  border-radius: 19px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#list h1 {
  font-size: 51px;
  margin: 16px;
}

#list .word {
  font-size: 25px;
  color: dimgray;
}

#list .meaning {
  color: #19d419;
}

#btn {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: green;
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 45vw;
}


footer {
  background: rgb(62 177 46);
  padding: 10px 0px;
  text-align: left;
  height: 495px;
  font-family: 'Bree Serif', serif;
  display: flex;
  flex-direction: column;
  flex-flow: column;
}

footer .container {
  display: flex;
  position: relative;
  font-family: 'Bree Serif', serif;
  padding-top: 10rem;
  padding-left: 1.25rem;
}

.container .w-64 {
  width: 16rem;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}

.container .w-64 .text-xl {
  opacity: 1;
  color: rgb(17 24 39);
  font-weight: 500;
  font-size: 1.27rem;
  line-height: 1.75rem;
  margin-left: 0.75rem;
  bottom: 5.6em;
  position: absolute;
}

.container .w-64 p {
  color: rgb(107 114 128);
  margin-top: 0.2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.container .flex-grow {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.container .flex-grow .px-4 {
  font-family: 'Bree Serif', serif;
  padding-left: 6.2rem;
  padding-right: 6.8rem;
}

.container .flex-grow .px-4 h2 {
  opacity: 1;
  color: rgb(17 24 39);
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.75rem;
}

.container .flex-grow .px-4 .list-none {
  line-height: 1.5em;
  list-style-type: none;
  margin-bottom: 2.5rem;
}

.flex-grow .px-4 .list-none a {
  opacity: 1;
  color: rgb(75 85 99);
  text-decoration: inherit;
}
.flex-grow .px-4 .list-none a:hover {
  color: rgb(31 41 55);
}

footer .bg-gray-100 {
  margin-top: 6rem;
  opacity: 1;
  background-color: whitesmoke;
  color: #e5e7eb;
}

footer .bg-gray-100 .mx-auto {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

footer .bg-gray-100 .text-sm {
  opacity: 1;
  color: rgb(107 114 128);
  font-size: 0.875rem;
  line-height: 1.25rem;
}